.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  position: relative;
  padding-top: 15%;
  padding-bottom: 10%;
}

.App-background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.App-background-overlay {
  position: relative;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
}

.App-main-stack {
  position: relative;
  width: 100vw;
  height: 100vh;

}

.resumeLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resumeLogos > * {
  margin: 10px;
}

/* @media screen and (max-width: 1749px) {
  .skillsLogos > * {
    margin: 2px;
  }
} */
